# Игнорируем файлы с конфиденциальной информацией
token.env

# Игнорируем файлы Python
*.pyc
__pycache__/

# Игнорируем каталоги и файлы, создаваемые PyCharm
.idea/

# Игнорируем файлы, создаваемые Sublime Text
*.sublime-workspace
*.sublime-project

# Игнорируем временные файлы операционной системы
.DS_Store
Thumbs.db

# Игнорируем файлы логов
*.log

# Игнорируем настройки виртуального окружения
venv/
env/
